
/* ----------
    Reset
----------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    Type
----------- */

.row{
    display: flex;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.button-primary{
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    
}

.img{
    width: 100%;
}

h1{
    font-size: 100px;
    font-weight: bold;
    padding: 30px 0;
}

h2{
    font-size: 40px;
    padding: 50px 0;
}

/* ----------
    Header
----------- */

.conteiner-header{
    height: 80px;
    align-items: center;
    justify-content: space-between;

}

.box-header ul{
    list-style-type: none;
}

.list-header > li{
    padding: 20px;
}

.list-header{
    align-items: center;
}


/* ----------
    Main
----------- */

.conteiner-bigsection{
    background-color: #b4d0e7;
}

.conteiner-big{
    max-width: 70%;
    margin: 0 auto;
    
}

.colsmall{
    width: 30%;
}

.colbig{
    width: 70%;
}

.distance-button{
    padding: 50px 0;
}

.conteiner-section{
    max-width: 60%;
    margin: 0 auto;
    height: 1500px; /* debug */
    padding: 30px 0;
}

.icon{
    margin-right: 10px;
}

.conteiner-colonna h5:first-of-type {
    padding: 30px 0 15px 0;
}

.conteiner-colonna h5:nth-of-type(2) {
    color: grey;
    padding-bottom: 30px;

}
.conteiner-colonna h4:first-of-type {
    padding: 20px 0;
}

.conteiner-colonna p{
    padding: 20px 0;
}
  

.option2{
    margin-left: 100px;
}

.radio-button{
    padding-bottom: 50px;
}

.conteiner-colonna{
    display: flex;
    flex-direction: column;
    position: relative;
}


.colonna{
    width: calc(100% /3);
    background-color: white;
    border: 1px solid lightgray;
}

.colonna > h4{
    text-align: center;
    padding: 10px;
    
}

.colonna > div{
    padding: 30px;
}
.ecc{
    margin: 0 50px; /* debug */
}

.underline{
    text-decoration: underline;
    color: #0061ff;
}

.line{
    height: 1px;
    color: lightgrey;
    width: 25%;
    margin: 40px 0;
}
.check{
    color: #0061ff;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
}

.button-box{
    width: 100%;
}

.riga{
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    margin: 40px 0;
}

.riga > div{
    padding: 30px;
}

.riga > h4{
    text-align: center;
    padding: 10px;
}

.button-right{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
}

.conteiner-riga p:first-of-type{
    padding: 50px 0;
}
