
/* ----------
    Reset
----------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    Type
----------- */

.row{
    display: flex;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.button-primary{
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

.img{
    width: 100%;
}

/* ----------
    Header
----------- */

.conteiner-header{
    height: 80px;
    align-items: center;
    justify-content: space-between;

}

.box-header ul{
    list-style-type: none;
}

.list-header > li{
    padding: 20px;
}

.list-header{
    align-items: center;
}

/* ----------
    Header
----------- */

.conteiner-section{
    background-color: #b4d0e7;
    height: 800px; /* debug */
}

.conteiner-big{
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
}

.colsmall{
    width: 40%;
}

.colbig{
    width: 60%;
}

h1{
    font-size: 30px;
}
