/* ----------
    Reset
----------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    Type
----------- */

.row {
    display: flex;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.button-primary {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.button-secondary {
    background-color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
}

.conteiner-sections {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    padding: 30px 0;
}

h2 {
    font-size: 35px;
    padding: 50px 0;
}

h3 {
    font-size: 25px;
}

p {
    line-height: 1.5;
}

hr{
    color: lightgray;
}

/* -----------------------
            Header
-------------------------- */

.conteiner-header {
    background-color: white;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;

}

.box-header ul {
    list-style-type: none;
}

.list-header>li {
    padding: 20px;
}

.list-header {
    align-items: center;
}

/* -----------------------
            Main
-------------------------- */

/* ----------
  I section
----------- */

.conteiner-bigsection {
    background-color: #b4d0e7;
    padding-top: 20px;
}

.conteiner-big {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    bottom: -80px;
}

.colsmall {
    width: 30%;
}

.colbig {
    width: 70%;
}

.distance-button {
    padding: 30px 0;
}

.conteiner-big .fa-arrow-down{
    position: absolute;
    left: 0;
    bottom: 90px;
    color: black;
    font-size: 50px;
}

/* ----------
  II section
----------- */

.icon {
    margin-right: 10px;
}

.conteiner-colonna h5:first-of-type {
    padding: 30px 0 15px 0;

}

.conteiner-colonna h5:nth-of-type(2) {
    color: grey;
    padding-bottom: 30px;

}

.conteiner-colonna h4:first-of-type {
    padding: 20px 0;
}

.conteiner-colonna p {
    padding: 10px 0;
}


.option2 {
    margin-left: 100px;
}

.radio-button {
    padding-bottom: 50px;
}

.conteiner-colonna {
    display: flex;
    flex-direction: column;
    position: relative;
}


.colonna {
    width: calc(100% /3);
    background-color: white;
    border: 1px solid lightgray;
}

.colonna>h4 {
    text-align: center;
    padding: 10px;

}

.colonna>div {
    padding: 30px;
}

.ecc {
    margin: 0 50px;
    /* debug */
}

.underline {
    text-decoration: underline;
    color: #0061ff;
}

.line {
    height: 1px;
    color: lightgrey;
    width: 25%;
    margin: 40px 0;
}

.check {
    color: #0061ff;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.button-box {
    width: 100%;
}

.riga {
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    margin: 40px 0;
}

.riga>div {
    padding: 30px;
}

.riga>h4 {
    text-align: center;
    padding: 10px;
}

.button-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
}

.conteiner-riga p:first-of-type {
    padding: 30px 0;
    width: 60%;
}

/* ----------
  III section
----------- */

.img-terzasection {
    max-width: 60%;
}

.colonn-terzasection {
    max-width: 40%;
    margin: 50px;
}

.colonn-terzasection h3 {
    padding-bottom: 30px;
}

/* ----------
  IV section
----------- */

.container-quartasection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: calc(100% /3);
    padding: 30px 0;
}

.content h3 {
    padding: 40px 0;
}

.conteiner-sections h2 {
    padding-bottom: 50px;
}

/* ----------
  V section
----------- */

.conteiner-quintasection {
    width: 60%;
}

/* ----------
  VI section
----------- */

.conteiner-sestasection {
    display: flex;
    padding-top: 50px;
}

.bigbox {
    width: calc(100% /3);
    height: calc(100vw /3);
    flex-wrap: wrap;
    background-color: #f5f5f5;
    overflow: auto;
}

.minibox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.minibox>img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img1 {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

.img2 {
    background-color: #61082b;
}

.img3 {
    background-color: #0093ce;
}

.img4 {
    background-color: #ff1c1c;
}

.img5 {
    background-color: #d5001f;
}

.img6 {
    background-color: #b4d0e7;
}

.img7 {
    background-color: #0d2481;
}

.img8 {
    background-color: #ffd830;
}

.fa-registered {
    font-size: 10px;
}

sup {
    font-size: 25px;
    padding: 5px;
}

.colorimg {
    filter: invert(100%);
}

.central {
    padding: 50px;
}

.central h1+p {
    margin: -30px 0;
    padding-bottom: 40px;
}

.central h5 {
    padding-top: 50px;
}

.central h1 {
    letter-spacing: -5px;
}

/* ----------
  VII section
----------- */

.conteiner-settimasection {
    background-color: #b4d0e7;
    height: 360px;
    align-items: center;
}

.first {
    max-width: 60%;
    align-items: center;
}

.second {
    max-width: 40%;
    align-items: center;
}

.second a button {
    border: none;
}

.seven {
    justify-content: space-between;
    width: 1000px;
}

.first h2 {
    color: #61082b;
}

/* ----------
  VIII section
----------- */

.eight {
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteiner-ottavasection {
    width: 1000px;
    height: 720px;
    padding-top: 120px;
}

.conteiner-ottavasection h2 {
    padding-bottom: 70px;
}

.conteiner-ottavasection .faq {
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 35px 0;
}

.faq:nth-of-type(3) {
    border-bottom: 1px solid black;
}

/* -----------------------
            Footer
-------------------------- */

footer {
    background-color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    width: 1180px;
    margin: 0 auto;
}

.footer-section {
    width: 20%;
    text-align: left;
    padding: 30px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section li a {
    font-size: 12px;
    color: white;
}

.footer-section h4 {
    margin: 30px 0px;
    font-size: 20px;
}

.lingua {
    display: flex;
    justify-content: flex-start;
    width: 1180px;
    margin: 0 auto;
}

.lingua a {
    color: lightgray;
    padding: 0 5px;
}

.line-footer {
    border-top: 1px solid lightgray;
    padding: 30px 0;
}